body {
  background: #FFFFCF; /* fallback for old browsers */
  font-family: "Arial", sans-serif;
}
.navbar {
	list-style-type: none;
	display: inline;
    margin: 0;
    padding: 0;
}
.navbar a{
	display: block;
    width: 120px;
}
